.answer {
  display: flex;
  height: 100px;
  width: 80%;
  min-width: 500px;
  margin: 10px;

  perspective: 1000px;

  .content.answerReveald {
    transform: rotateY(180deg);
  }
  .content {
    display: flex;
    position: relative;
    flex: 1;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .front,
    .back {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .front {
      background: #fff;
      color: #000;
      align-items: center;
      padding: 15px;

      border-radius: 12px;

      .letter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        margin-right: 20px;

        border-radius: 50%;

        font-size: 1.3rem;
        font-weight: 700;
        color: #fff;
      }

      .value {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }

    .back {
      transform: rotateY(180deg);
    }

    .back {
      div {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 12px;
      }
      .correct {
        background: #2baa6d;
      }
      .wrong {
        background: #e44a4c;
      }

      .correct .text,
      .wrong .text {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
}
